@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@property --aurora-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #00ff8c;
}

@property --ball-color1 {
  syntax: "<image>";
  inherits: false;
  initial-value: radial-gradient(circle, hsla(147, 100%, 36%, 1) 0%, hsla(194, 83%, 26%, 0) 50%);
}

@property --ball-color2 {
  syntax: "<image>";
  inherits: false;
  initial-value: radial-gradient(circle, rgb(19, 141, 94) 0%, hsla(194, 83%, 26%, 0) 50%);
}

@property --ball-color3 {
  syntax: "<image>";
  inherits: false;
  initial-value: radial-gradient(circle, rgb(8, 190, 160) 0%, hsla(194, 83%, 26%, 0) 50%);
}

@property --ball-size {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 80%;
}

@property --bg-gradient {
  syntax: "<image>";
  inherits: false;
  initial-value: linear-gradient(135deg, hsla(0, 0%, 0%, 1) 22%, hsla(160, 28%, 10%, 1) 53%, hsla(161, 27%, 24%, 1) 84%, hsla(162, 27%, 34%, 1) 100%);
}

@property --goal-text-container-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #2020203f;
}

@property --progress-circ-gradient {
  syntax: "<image>";
  inherits: false;
  initial-value: linear-gradient(135deg, hsla(0, 0%, 0%, 1) 22%, rgb(18, 70, 44) 53%, rgb(29, 94, 67) 84%, rgb(13, 189, 136) 100%);
}

@property --progress-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #00c569;
}

@property --progress-shell-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #2b2b2b;
}

:root {
  font-family: 'Titillium Web';
  color-scheme: dark;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.crown {
  position: absolute;

  height: 2rem;
  width: 2rem;

  rotate: 45deg;
  right: -0.9rem;
  top: -0.9rem;
}

.font-large {
  font-size: 1.5rem;
}

footer {
  color: darkgrey;
}

footer>a {
  color: white;
  text-decoration: none;
}

.g1 {
  position: absolute;
  background: var(--ball-color1);
  width: var(--ball-size);
  height: var(--ball-size);

  transform-origin: 25%;
  animation: moveCirc 30s ease infinite;
}

.g2 {
  position: absolute;
  background: var(--ball-color2);
  width: var(--ball-size);
  height: var(--ball-size);

  transform-origin: center center;
  animation: moveNE 20s ease infinite;
}

.g3 {
  position: absolute;
  background: var(--ball-color3);
  width: var(--ball-size);
  height: var(--ball-size);

  transform-origin: center center;
  animation: moveVert 20s ease infinite;
}

.goal {
  align-items: center;
  display: flex;
  padding: 0.5rem;
  width: 100%;
}

.goal-logo {
  border-radius: 9999rem;
  height: 80%;
  width: 80%;
  z-index: 2;
}

.goal-progress {
  align-items: center;
  background: conic-gradient(var(--progress-color) var(--progress, 0%),
      var(--progress-shell-color) var(--progress, 0%) 100%);
  border-radius: 9999rem;
  box-shadow: 0 0 0.5rem var(--aurora-color);
  display: flex;
  height: 3.5rem;
  justify-content: center;
  width: 3.5rem;
  position: relative;
}

.goal-progress::before {
  background: var(--bg-gradient);
  border-radius: 100%;
  content: '';
  height: 80%;
  position: absolute;
  width: 80%;
}

.goal-text {
  background-color: var(--goal-text-container-color);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.4rem var(--aurora-color);
  margin: 0.5rem;
  min-height: 2rem;
  padding: 1rem;
  width: 80%;
  font-family: 'Titillium Web';
}

.goals-category-title {
  font-family: 'Titillium Web';
  font-size: large;
  margin-top: 2rem;
  margin-bottom: 0;
}

.goals-container {
  column-gap: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
}

#gradient-bg {
  position: fixed;
  height: 100vh;
  width: 100vw;

  top: 0;
  left: 0;

  background: linear-gradient(135deg, rgb(8, 43, 24) 0%, rgb(15, 58, 34) 26%, hsla(147, 50%, 8%, 1) 60%, hsla(0, 0%, 0%, 1) 100%);
  overflow: hidden;
  z-index: -1;
}

#gradient-bg>svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

#gradients {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 67.5rem;
  padding: 1rem;
  width: 95%;
}

#year-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#year-progress {
  align-items: center;
  background: conic-gradient(var(--progress-color) var(--progress, 0%),
      var(--progress-shell-color) var(--progress, 0%) 100%);
  border-radius: 100%;
  box-shadow: 0 0 1.5rem var(--aurora-color);
  display: flex;
  height: 10rem;
  justify-content: center;
  position: relative;
  width: 10rem;
}

#year-progress::before {
  content: '';
  background: var(--progress-circ-gradient);
  /* background: linear-gradient(135deg, hsla(0, 0%, 0%, 1) 22%, hsla(160, 28%, 10%, 1) 53%, hsla(161, 27%, 24%, 1) 84%, hsla(162, 27%, 34%, 1) 100%); */
  border-radius: 100%;
  box-shadow: 0 0 0.5rem inset var(--aurora-color);
  height: 90%;
  position: absolute;
  width: 90%;
}

#year-progress span {
  z-index: 2;
  width: 80%;
  text-align: center;
  font-family: 'Titillium Web';
  font-size: 1.2rem;
  font-weight: 600;
}

#year-text {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Titillium Web';
}

@media (max-width: 50rem) {
  .goal {
    width: fit-content;
  }

  .goal:nth-child(even) {
    margin-left: auto;
    margin-right: 0;
  }

  .goal-text {
    width: 70%;
  }

  .goals-container {
    display: block;
  }

  main {
    width: auto;
  }
}

@media (max-width: 39rem) {
  .goal {
    width: 80%;
  }

  .goal-text {
    width: calc(90% - 5rem);
  }

  #year-container {
    display: block;
  }

  #year-progress {
    margin-left: auto;
    margin-right: auto;
  }

  #year-text {
    display: block;
  }
}

@keyframes moveCirc {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveNE {
  0% {
    transform: translateY(20%) translateX(-50%);
  }

  50% {
    transform: translateY(-20%) translateX(50%);
  }

  100% {
    transform: translateY(20%) translateX(-50%);
  }
}

@keyframes moveVert {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-50%);
  }
}